/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');

/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/

body {
    /*line-height: 1;*/
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 2em;
    font-family: 'Roboto Slab', serif;
    color: white;
    margin: 0;
}

a {
    color: #56BCBA;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1em;
    transition: color .25s ease;
}

a:hover {
    color: #479493;
}

/* NAVIGATION BAR */

header {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: rgba(20, 40, 60, 0.95);/*rgba(255, 255, 255, 0.95);*/
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
}

#logo {
    /*position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding-left: 30px;
    height: 50px;
    width: 100px;
    display: inline-block;
    font-weight: 400;
    border: none;*/

    position: absolute;
    border: none;
}

header h1 {
    display: inline;
    position: relative;
    top: 25px;
    left: 140px;
}

nav {
    float: right;
    text-transform: lowercase;
}

nav a {
    font-size: 1.25em;
    margin-right: 50px;
    line-height: 100px;
}

main {
    margin-top: 100px;
}

/*section:before {
    display: block;
    content: " ";
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}*/

/* INTRO */

#intro {
    background-color: rgb(20, 40, 60);
}

#intro h1 {
    text-align: center;
    position: relative;
    top: 70%;
}

#intro h2 {
    text-align: center;
    position: relative;
    top: 70%;
    color: lightgrey;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

/* APPS */

#apps:before {
    display: block;
    content: " ";
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}

#apps article {
    height: 500px;
    padding: 20% 0;
}

#apps #frenzy, #apps #tiphelper {
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#apps #frenzy {
    background-image: url(frenzy_background.png);
}

#apps #tiphelper {
    background-image: url(tiphelper_background.png);
}

#apps article .overlay {
    background-color: rgba(25, 60, 70, 0.75);
    height: 100%;
    position: relative;
}

#apps article .content {
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}

#apps article .content div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 600px;
}

#apps article.text-left .content div {
    float: left;
}

#apps article.text-right .content div {
    float: right;
}

#apps article .content div h1 {
    margin: 0 auto;
    text-align: center;
}

#apps article .content div h2 {
    margin: 0 auto;
    margin-top: 15px;
    text-align: center;
    color: lightgrey;
    font-family: 'Roboto Slab', serif;
    font-style: italic;
}

#apps article .content div p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    margin: 0 auto;
    text-align-last: center;
    margin-top: 30px;
    line-height: 40px;
    color: white;
}

#apps article .content div a {
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 10px;
}

#apps article .content div a img {
    width: 200px;
}

#apps article img.feature {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 75%;
}

#apps article.text-left img.feature {
    float: right;
}

#apps article.text-right img.feature {
    float: left;
}

/* CONCTACT */

#contact {
    width: 100%;
    height: 100%;
    padding: 35px 0;
    background-color: rgb(20, 40, 60);
}

#contact h1, #contact h2, #contact a {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
}

#contact h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    padding-top: 25px;
    color: white;
}

#contact a {
    padding-top: 10px;
}

/* MISCELLANEOUS */

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255,255,255,0.3);
    width: 90%;
}